<h1>Product</h1>

<div class="gallery">
{{#each photo}}
<div class ="gallery">
  <p>Author_ID: {{author_id}}</p>
  <p>Link: {{link}}</p>
  <p>Description: {{description}}</p>
  <p>Id: {{id}}</p>
</div>
{{/each}}
</div>