<h1>New Photo</h1>

<form method="GET" action="/">
  <button>HOME</button>
</form>
<form method = 'POST' action="/gallery" enctype= 'application/x-www-form-urlencoded'>
  Name:
  <input type="text" name='author_id' >
  Price:
  <input type="text" name='link'>
  Inventory:
  <input type="text" name='description'>
<button type= 'submit'> ADD PHOTO </button>
</form>