<h1>Upload a Photo</h1>

<div class="new-photo">
<form action="/gallery" method="POST">
  <p><label>Title: <input type="text" name="title"></label></p>
  <p><label>Author: <input type="text" name="author"></label></p>
  <p><label>Photo URL: <input type="text" name="link"></label></p>
  <p><label>Description: <input type="text" name="description"></label></p>
  <button type="submit">Upload Photo</button>
  </form>
</div>